@tailwind base;
@tailwind components;
@tailwind utilities;


.observed {
  opacity: 0;
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0, 0);
  transition: all 0.5s;
}

.observed:nth-child(2) { transition-delay: 100ms; }
.observed:nth-child(3) { transition-delay: 200ms; }
.observed:nth-child(4) { transition-delay: 300ms; }
.observed:nth-child(5) { transition-delay: 400ms; }

