@tailwind base;
@tailwind components;
@tailwind utilities;


.observed {
  opacity: 0;
  filter: blur(10px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: none;
  transition: all 0.5s;
}

.observed:nth-child(2) { transition-delay: 100ms; }
.observed:nth-child(3) { transition-delay: 200ms; }
.observed:nth-child(4) { transition-delay: 300ms; }
.observed:nth-child(5) { transition-delay: 400ms; }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(1, 1, 1, 0.1)
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
